@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* bg = background */
  --bg-primary: #495e57;
  /* --bg-primary: #1976d2; */
  /* --bg-secondary: #f9bf29; */
  --bg-secondary: #fde1bd;
  --bg-primary-e-l: #495e5716;
  --bg-whites: #fff;
  --bg-blacks: #222;
  --bg-purles: #5b5f97;
  --bg-grays: rgb(217, 217, 217);

  /* text = text */
  --text-primary: #495e57;
  --text-yellow: #f9bf29;
  --text-whites: #fff;
  --text-blacks: #222;
  --text-grays-dark: rgb(121, 121, 121);
  --text-grays: rgb(142, 142, 142);
  --text-link: rgba(52, 4, 155, 1);
  --text-danger: #ff6b6c;
  --text-success: #03be41;

  /* Shadow */
  --box-shadow-primary: 0 10px 10px -5px #495e5759;
  --box-shadow-primary-lg: 10px 15px 20px -10px #495e5759;

  --box-shadow-secondary: 0 10px 10px -5px #f9be296b;
  --box-shadow-secondary-lg: 10px 10px 22px -20px #b0b0b0;

  --box-shadow-thricary: 0 10px 10px -5px #93939374;
  --box-shadow-thricary-lg: 10px 15px 20px -10px #93939374;

  /* button color */
  --btn-primary: #fde1bd;
  --btn-secondary: #eeeeee;
}

* {
  font-family: "Averia Libre", system-ui;
  font-style: normal !important;
  scroll-behavior: smooth !important;
}

body {
  margin-bottom: 150px;
  color: #565656;
}

.fav {
  filter: drop-shadow(0 0 2px 2px red) !important;
}

.animation-play-state-start:hover {
  animation-play-state: running !important ;
}

/* hiding spinner from input fields */
.hideSpinner::-webkit-outer-spin-button,
.hideSpinner::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
.hideSpinner {
  -moz-appearance: textfield;
}
/* hiding spinner from input fields */

/* common css */
.centerMe {
  @apply flex justify-center items-center;
}
/* common css */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.navLink {
  position: relative;
}

.navLink::after {
  content: "";
  transition: 300ms;
  position: absolute;
  top: 100%;
  left: 0px;
  margin-top: 4px;
  border-radius: 15px;
  display: block;
  width: 25%;
  height: 4px;
  background: var(--bg-secondary);
}

.navLink:hover::after {
  width: 100%;
  background: linear-gradient(90deg, var(--bg-secondary), var(--bg-primary));
}

.z-999999 {
  z-index: 999999 !important;
}

.dropdown > .dropdownCard {
  opacity: 0;
  padding-top: 20px;
  z-index: 99 !important;
  cursor: none;
  pointer-events: none;
  background: transparent !important;
}

.dropdown:hover > .dropdownCard {
  opacity: 1;
  cursor: auto;
  pointer-events: all;
  padding-top: 10px;
  background: var(--bg-whites);
  box-shadow: var(--box-shadow-secondary-lg);
}

.dropdown > .dropdownCard > section > a {
  transition: 300ms;
}

.dropdown > .dropdownCard > section > a:hover {
  opacity: 0.7;
}

/* vs */
.vs::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
.vs::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.vs::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

/* Handle on hover */
.vs::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* vs */

/* hs */
.hs::-webkit-scrollbar {
  height: 5px;
  border-radius: 5px;
}

/* Track */
.hs::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.hs::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

/* Handle on hover */
.hs::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* hs */

/* star rating css  */
.css-e0foho-MuiRating-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 5.875rem;
  color: #faaf00;
  cursor: pointer;
  text-align: left;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-tap-highlight-color: transparent;
}
